.primary-nav {
    padding-top: 5px;
    font-family: 'Cocogoose';

    @mixin atMedium {
        padding-top: 0;
        
    }

    &__pull-right {
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }
    li {
        list-style: none;
        display: list-item;
        padding-right: 7px;
        @mixin atMedium {
            padding-right: 20px;
            float: left;
            display: block;
        }
    }
    li:last-child {
        @mixin atMedium {
            padding-right: 40px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 10px 8px;
        font-size: 1rem;
        background-color: rgba($mainRed, 0.5);
        

        @mixin atMedium {
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }
    }
}
