.row {
    @mixin clearfix;
    &__gutters {
        margin-right: -10px;
    }
    &__gutters > div {
        padding-right: 10px;
    }
    &__always-medium-half {
        float: left;
        width: 50%;
    }
    @mixin atMedium {
        
        &__medium-4 {
            float: left;
            width: 33.33%;
            &__larger {
                width: 37%;
            }
        }
        &__medium-half {
            float: left;
            width: 50%;
        }
        &__medium-6 {
            float: left;
            width: 50%;
            @mixin atLarge {
                width: 25%;
                padding-top: 10px;

            }
        }
        &__medium-8 {
            float: left;
            width: 66.66%;
            &__smaller {
                width: 63%;
            }
        }
    } 
}
