.row {
    @mixin clearfix;
    &__gutters {
        margin-right: -65px;
    }

    &__gutters-small {
        margin-right: -20px;
    }
    &__gutters > div {
        padding-right: 65px;
    }
    
    &__gutters-small > div {
        padding-right: 20px;
    }
    @mixin atMedium {
        
        &__medium-4 {
            float: left;
            width: 33.33%;
            &__larger {
                width: 37%;
            }
        }
        &__medium-half {
            float: left;
            width: 50%;
        }
        &__medium-6 {
            float: left;
            width: 50%;
            @mixin atLarge {
                width: 25%;
                padding-top: 10px;

            }
            
        }
    } 
}
