.services{
    background-color: white;
    padding: 0 18px 0 18px;
    margin-bottom: 10px;
    border-bottom: 4px solid $mainRed;
    @mixin atMedium {
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
        border-bottom: none;
    }
    &__last{
        border-bottom: none;
    }
    &__title {
        font-family: 'Cocogoose';
        letter-spacing: -2px;
        padding-top: 1.2rem;
        padding-bottom: 0.7rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }
    &__img{
        text-align: center;
    }
    &__text {
        height: 140px;
        @mixin atLarge {
            height: 190px;
        }
    }
}