.venture {
    &__title {
        color: white;
        text-align: center;
        padding: 30px 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(assets/images/icons/6_circulo.webp);
        background-size: contain;
    }
    &__text {
        text-align: justify;
        width: 100%;
        max-width: 600px;
        margin: 18px auto 18px auto;
        @mixin atMedium {
            max-width: 360px;
        }
        strong {
            color: black;
            font-family: "Cocogoose";
            letter-spacing: -1px;
        }
    }
    &__img {
        @mixin atMedium {
            padding-top: 1.5rem;
        }
        @mixin atLarge {
            padding-top: 0;            
        }
    }
}
